; not upstream: Triton's thin N2 atmosphere and haze, Pluto.atm.cfg with the haze lowered to 30 km
; = Shader(s) = [Earth, Mars, Moon, Giant, Auto]
Shader = Mars
Planet = Triton
ConfigName = Custom
OrbitAlt = 250000
AtmoVisualAlt = 80000
Red = 0.65
Blue = 0.48
SunI = 150
zcolor = 0.7 0.8 1
hcolor = 0.7 0.8 1
acolor = 0.9 0.9 1
Srf_RPwr = 4
Srf_MPwr = 2
Srf_Expo = 0.654778
Srf_TGamma = 0.85
Srf_Tr3D = 1.0
Srf_TWDst = 0.025
Srf_Green = 0.56
Srf_TWBri = 0.01
Srf_RayO = 0.02
Srf_RayI = 4
Srf_TWBld = 0
Srf_RayH = 15
Srf_MieO = 0.08
Srf_MieP = 0.9
Srf_MieI = 4
Srf_MieH = 5
Srf_Aux2 = 0
Srf_Aux3 = 1.04789
Srf_Aux4 = 0
Srf_Aux5 = 1.7
Low_RPwr = 4
Low_MPwr = 2
Low_Expo = 0.654778
Low_TGamma = 0.85
Low_Tr3D = 1.0
Low_TWDst = 0.025
Low_Green = 0.56
Low_TWBri = 0.01
Low_RayO = 0.02
Low_RayI = 4
Low_TWBld = 0
Low_RayH = 15
Low_MieO = 0.08
Low_MieP = 0.9
Low_MieI = 4
Low_MieH = 5
Low_Aux2 = 0
Low_Aux3 = 1.04789
Low_Aux4 = 0
Low_Aux5 = 1.7
Hig_RPwr = 4
Hig_MPwr = 2
Hig_Expo = 1.58116
Hig_TGamma = 0.4353
Hig_Tr3D = 1.0
Hig_TWDst = 0.025
Hig_Green = 0.56
Hig_TWBri = 0.01
Hig_RayO = 0.02
Hig_RayI = 4
Hig_TWBld = 0
Hig_RayH = 15
Hig_MieO = 0.08
Hig_MieP = 0.9
Hig_MieI = 4
Hig_MieH = 5
Hig_Aux2 = 0
Hig_Aux3 = 1.04789
Hig_Aux4 = 0
Hig_Aux5 = 1.7
